<form method="post" action="/update/{{user.cpf}}">
    <label for="">Cpf:</label>
    <input type="text" name="cpf" value="{{user.cpf}}">
    <label for="">Email:</label>
    <input type="text" name="nome" value="{{user.email}}">
    <label for="">senha</label>
    <input type="text" name="nome" value="{{user.senha}}">
    <input type="submit" value="Editar">
</form>